@{
    ViewBag.Title = "Sales";
}

<div class="homebackground1">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <img class="card-img" src="@Url.Content("~/Images/homebackground1.png")" alt="...">
            </div>
        </div>
    </div>
</div>

<div class="homebackground2">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card card-body mb-2 cardText joinnow">Join now and start your life interview!</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card card-body mb-2 cardText">Tellyt can be used on desktop, laptop, mobile devices and tablets.</div>
        </div>
    </div>
</div>

<div class="homebackground3">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="card interviewCard">
                <div class="card-body">
                    <h5 class="card-title">The Tellyt video interview</h5>
                    <p class="card-text">With hundreds of questions for you to choose from in over a dozen languages, you can tell your story the way that you want it to be told.  All of your answers are captured in HD video, and you can add photos and documents to further enhance your viewer’s experience.  Edit, redo, or submit your responses as often as you like.  This is your story and you know how to tell it best.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-6 col-12">
            <div class="card">
                <img class="card-img" src="@Url.Content("~/Images/HomePageDevices.png")" alt="...">
            </div>
        </div>
    </div>
</div>

<div class="homebackground2">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-9 col-lg-11">
            <div class="card card-body mb-2 cardText joinnow">Preserve your legacy for generations to come</div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card card-body mb-2 cardText">Choose your plan</div>
        </div>
    </div>
</div>

<div class="homebackground4">

    <div class="row pt-5 pb-5">
        <div class="col-lg-1 col-md-1"></div>

        <div class="col">
            <div class="signup-holder">
                <div class="signup-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create a Video Greeting</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Search and interact with Members</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create your video Life Interviews</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Organize and Narrate photos</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create Video Tributes for Loved ones no longer with us</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create a Biosphiere family tree</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>
                                Diagram a Geosphere of where
                                your family came from
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Unlimited Storage</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Map your complete family</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Use Tellyt Mobile App</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Private and Public accounts</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>DNA Match</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <img class="signup-hr" src="@Url.Content("~/Images/hr_copy.png")" alt="divider">
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-9 col-lg-11">
                            <div class="signupPlanText signupPlanPremiumText">Premium</div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-9 col-lg-11">
                            <div class="signupPlanTextDescription">Lifetime Membership is just $149.95</div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="mx-auto">
                            <div id="signupButtonPremium" class="signupButton">
                                <span class="home1buttontext">Sign Up!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="signup-top">
                    <div class="signup-top-text">
                        Lifetime Tellyt Membership
                        Unlimited Access
                    </div>
                    <img class="signupCardTopImage" src="@Url.Content("~/Images/SignupCardTop.png")" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-1 SignUpSpacer"></div>
        <div class="col">
            <div class="signup-holder">
                <div class="signup-body">
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create a Video Greeting</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Search and interact with Members</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create your video Life Interviews</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Organize and Narrate photos</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create Video Tributes for Loved ones no longer with us</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Create a Biosphiere family tree</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>
                                Diagram a Geosphere of where
                                your family came from
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Unlimited Storage</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Map your complete family</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Use Tellyt Mobile App</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/SignupNope.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>Private and Public accounts</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <img src="@Url.Content("~/Images/HomeCheck.png")" alt="Check">
                        </div>
                        <div class="col-10">
                            <span>DNA Match</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            <img class="signup-hr" src="@Url.Content("~/Images/hr_copy.png")" alt="divider">
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-9 col-lg-11">
                            <div class="signupPlanText signupPlanBasicText">Basic</div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-9 col-lg-11">
                            <div class="signupPlanTextDescription">Membership is always Free</div>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="mx-auto">
                            <div id="signupButtonBasic" class="signupButton">
                                <span class="home1buttontext">Sign Up!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="signup-top">
                    <div class="signup-top-text">Free Tellyt Membership Limited Access</div>
                    <img class="signupCardTopImage" src="@Url.Content("~/Images/SignupCardTop.png")" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>

</div>

@section Scripts
{
    <script>


        $(function () {

        });

        $(document).ready(function () {

        });
    </script>
}